* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

body {
  font-family: "roboto", sans-serif;
  margin: 0;
}

p {
  padding-bottom: 1rem;
}

h1 {
  padding-bottom: 2rem;
}

h2 {
  padding: 15px 30px;
}

a {
  text-decoration: none;
  color: unset;
}

h3 {
  margin: 0;
}

header {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header img {
  margin-top: 20px;
  height: 30px;
  width: 160px;
}

.location {
  background-color: #eaeaea;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location .icone_map {
  padding: 10px;
}

.explorer {
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 60px;
}
.explorer p {
  padding-bottom: 36px;
}
.explorer button {
  background: linear-gradient(#ff79da, #9356DC);
  width: 217px;
  height: 47px;
  border-radius: 60px;
  color: white;
  font-size: 16px;
  border: none;
  box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.69);
  transition: 200ms;
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.fonctionnement_wrapper {
  padding-bottom: 60px;
  padding: 60px 0;
}
.fonctionnement_wrapper .resultats {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  align-content: center;
}
.fonctionnement_wrapper .resultats .vignette_wrapper {
  position: relative;
  background-color: #f6f6f6;
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 320px;
  height: 65px;
  padding: 0 20px;
  box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.69);
  border-radius: 20px;
  font-weight: bold;
}
.fonctionnement_wrapper .resultats .vignette_wrapper .icon {
  width: 18px;
  margin-right: 16px;
}
.fonctionnement_wrapper .resultats .vignette_wrapper .number {
  height: 22px;
  width: 22px;
  position: absolute;
  left: -11px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14.6666666667px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
}
.fonctionnement_wrapper .resultats .vignette_wrapper.rose {
  transform: scale(1.02);
  background-color: rgba(147, 86, 220, 0.2);
}
.fonctionnement_wrapper .resultats .vignette_wrapper.rose .icon {
  color: #9356DC;
}

.restaurant_wrapper {
  background-color: #f6f6f6;
  padding: 50px 0;
}
.restaurant_wrapper .restaurant_card {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 25px;
}
.restaurant_wrapper .restaurant_card .card_wrapper {
  width: auto;
  margin: 10px;
  box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.69);
  border-radius: 20px;
  overflow: hidden;
}
.restaurant_wrapper .restaurant_card .card_wrapper .vignette_card > img {
  object-fit: cover;
  display: block;
}
.restaurant_wrapper .restaurant_card .card_wrapper .new {
  position: relative;
}
.restaurant_wrapper .restaurant_card .card_wrapper .new::before {
  content: "nouveau";
  position: absolute;
  height: 32px;
  width: 80px;
  background-color: #99E2D0;
  display: grid;
  place-content: center;
  right: 16px;
  top: 16px;
}
.restaurant_wrapper .restaurant_card .card_wrapper .vignette_content {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  text-align: initial;
  padding: 10px;
  line-height: 27px;
}
.restaurant_wrapper .restaurant_card .card_wrapper .vignette_content .icon_heart {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.restaurant_wrapper .restaurant_card .card_wrapper .vignette_content .icon_heart i {
  font-size: 1.3em;
  color: black;
  font-weight: 400;
}
.restaurant_wrapper .restaurant_card .card_wrapper .vignette_content .icon_heart i:hover {
  font-weight: 900;
  background-image: linear-gradient(#ff79da, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

footer {
  background-color: #353535;
  color: #fff;
  max-width: 100%;
  margin: auto;
}
footer .footer_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}
footer .footer_wrapper h3 {
  font-family: "shrikhand", sans-serif;
  padding: 16px 0 16px 0;
}
footer .footer_wrapper .footer_icon {
  padding: 5px;
}

/*# sourceMappingURL=style.css.map */
