footer {
    background-color: $background-color-3;
    color: $background-color-0;
    max-width: 100%;
    margin: auto;

    .footer_wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 20px;

        h3 {
            font-family: "shrikhand", sans-serif;
            padding: 16px 0 16px 0;
        }

        .footer_icon {
            padding: 5px;
        }
    }
}