.location {
    background-color: $background-color-2;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .icone_map {
        padding: 10px;
    }

}

.explorer {
    text-align: center;
    background-color: $background-color-1;
    padding-top: 30px;
    padding-bottom: 60px;

    p {
        padding-bottom: 36px;
    }


    button {
        background: $button-gradient;
        width: 217px;
        height: 47px;
        border-radius: 60px;
        color: white;
        font-size: 16px;
        border: none;
        @include base_shadow;
        transition: 200ms;

        &:hover {
            transform: scale(1.02);
            opacity: 0.9;
        }
    }
}

.fonctionnement_wrapper {

    padding-bottom: 60px;
    padding: 60px 0;

    .resultats {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        align-content: center;

        .vignette_wrapper {
            position: relative;
            background-color: $background-color-1;
            flex-grow: 1;
            display: flex;
            align-items: center;

            width: 320px;
            height: 65px;

            padding: 0 20px;

            @include base_shadow;
            border-radius: 20px;
            font-weight: bold;

            .icon {
                width: 18px;
                margin-right: 16px;
            }

            .number {
                $ic-size: 22px;
                height: $ic-size;
                width: $ic-size;
                position: absolute;
                left: calc($ic-size / -2);

                display: flex;
                justify-content: center;
                align-items: center;
                font-size: calc($ic-size / 3 * 2);
                border-radius: 50%;
                background-color: $primary-color;
                color: $background-color-0;
            }


            //&:hover,
            &.rose {
                @include lens;
                background-color: $primary-alpha-color;

                .icon {
                    color: $primary-color;
                }
            }
        }
    }
}

.restaurant_wrapper {
    background-color: $background-color-1;
    padding: 50px 0;

    .restaurant_card {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 25px;

        .card_wrapper {
            width: auto;
            margin: 10px;
            @include base_shadow;
            border-radius: 20px;
            overflow: hidden;

            .vignette_card>img {
                object-fit: cover;
                display: block;
            }

            .new {
                position: relative;

                &::before {
                    content: "nouveau";
                    position: absolute;
                    height: 32px;
                    width: 80px;
                    background-color: $tertiary-color;
                    display: grid;
                    place-content: center;
                    right: 16px;
                    top: 16px;
                }
            }

            .vignette_content {
                position: relative;
                background-color: $background-color-0;
                display: flex;
                flex-direction: column;
                padding-left: 16px;
                text-align: initial;
                padding: 10px;
                line-height: 27px;

                .icon_heart {
                    position: absolute;
                    right: 16px;
                    top: 50%;
                    transform: translateY(-50%);

                    i {
                        font-size: 1.3em;
                        color: black;
                        font-weight: 400;

                        &:hover {
                            font-weight: 900;
                            background-image: $button-gradient;
                            color: transparent;
                            -webkit-background-clip: text;
                            background-clip: text;
                        }
                    }
                }

            }

        }
    }
}








//main .information {s