.location {
    background-color: $background-color-2;
    padding: 45px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .icone_map {
        padding: 10px;
    }

}

.explorer {
    text-align: center;
    background-color: $background-color-1;
    padding-top: 30px;
    padding-bottom: 60px;

    button {
        background: $button-gradient;
        width: 217px;
        height: 47px;
        border-radius: 60px;
        color: white;
        font-size: 16px;
        border: none;
        @include base_shadow;
        transition: 200ms;

        &:hover {
            transform: scale(1.02);
            opacity: 0.9;
        }
    }
}

.resultats {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


//main .information {s