.resultats {
    & ol {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        @media (max-width:760px) {
            flex-direction: column;
        }

        & li {
            background-color: $color-dr;
            padding: 1rem 2rem;
            flex-grow: 1;
            border: 1px solid blue;
            border-radius: 1rem;
            @include base_shadow;

            &:hover {
                @include lens
            }
        }
    }
}


//main .information {s