$primary-color: #9356DC;
$secondary-color: #ff79da;
$tertiary-color: #99E2D0;
$button-gradient: linear-gradient($secondary-color, $primary-color);
$max-width:1400px;

$primary-alpha-color: rgba($primary-color, .2);

$base-Shadow-color: rgba(0, 0, 0, 0.69);

$background-color-0: #fff;
$background-color-1: #f6f6f6;
$background-color-2: #eaeaea;
$background-color-3: #353535;